#showcase {
    flex-direction: column;
    height: 95vh;
    padding-top: 60px;
}

#navbar {
    position: absolute;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.nav-links {
    visibility: visible;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0vh;
    left: 78vw;
    padding: 0 15px 0 0;
    background-color: rgb(46, 12, 12);
    height: 100vh;
    z-index: 2;
    transition: 0.3s;
}

.nav-links a {
    margin: 10px 0;
    position: relative;
    top: 25px;
}

#close-btn {
    filter: invert(1);
    width: 30px;
    position: relative;
    left: 10px;
    top: 8px;
    visibility: visible;
}

#popbar {
    visibility: visible;
    top: 24px;
}

.floating-icons {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100vw;
    justify-content: space-around;
}

.floating-icons img {
    left: 0px;
    padding: 0;
}

.opening-text {
    top: 0px;
    margin-left: 25px;
}

.opening-image img {
    width: 250px;
    position: relative;
    top: 0;
}

#education {
    justify-content: space-between;
    height: 100vh;
}

#education h1 {
    top: 0;
}

.edu-cards {
    flex-direction: column;
    width: 90vw;
    height: 75vh;
    position: relative;
    bottom: 45px;
}

.jss {
    flex-direction: row;
    width: auto;
    top: 0;
    justify-content: space-between;
}

.jss p {
    margin: 0;
    padding: 0;
    width: 55%;
}

.jss h2 {
    position: relative;
    bottom: 72px;
}

.jss img {
    position: absolute;
    top: 30%;
    width: 125px;
    margin: 0;
}

#projects {
    height: 180vh;
    justify-content: space-between;
}

.weather {
    flex-direction: column;
    align-items: center;
    margin: 35px 0;
    width: auto;
}

.weather h2 {
    width: 100vw;
    left: 0;
    margin: 0;
}

.project-details {
    align-items: center;
    width: 320px;
}

.project-details h2 {
    margin-bottom: 10px;
    font-size: 34px;
    text-align: center;
}

.project-pic {
    margin-top: 30px;
}

.many-more p {
    right: 0;
}

#btn1 {
    position: relative;
    width: 65px;
    height: 23px;
    bottom: 22px;
    left: 125px;
    font-size: 22px;
}

#btn2 {
    position: relative;
    bottom: 23px;
    left: 130px;
    width: 65px;
    height: 23px;
    font-size: 22px;
}

#contact {
    justify-content: space-evenly;
    height: 40vh;
}

.all-details {
    flex-direction: column;
}

.mail {
    margin: 0;
    padding-left: 21%;
}

.social-icons {
    width: 100vw;
    justify-content: space-evenly;
    margin-top: 20px;
}

.foot {
    margin: 0;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.copyright img {
    margin: 18px 5px;
}

.designed {
    width: auto;
    text-align: center;
}

.designed p {
    right: -9px;
    font-size: 20px;
}