#showcase {
    flex-direction: column;
    height: 95vh;
}

.nav-links {
    visibility: visible;
}

#popbar {
    visibility: visible;
}

.floating-icons {
    left: 0px;
    top: 340px;
    width: 100vw;
    justify-content: space-around;
}

.floating-icons img {
    left: 0px;
    padding: 0;
}

.opening-text {
    top: 0px;
    margin-left: 25px;
}

.opening-image img {
    width: 250px;
    position: relative;
    top: 55px;
}

#education {
    justify-content: space-around;
    height: 100vh;
}

#education h1 {
    top: 0;
}

.edu-cards {
    flex-direction: column;
    width: 90vw;
    height: 75vh;
}

.jss {
    flex-direction: row;
    width: auto;
    top: 0;
    justify-content: space-between;
}

.jss p {
    margin: 0;
    padding: 0;
    width: 55%;
}

.jss h2 {
    position: relative;
    bottom: 72px;
}

.jss img {
    position: absolute;
    top: 30%;
    width: 125px;
    margin: 0;
}

#projects {
    height: 190vh;
    justify-content: space-between;
}

.weather {
    flex-direction: column;
    align-items: center;
    margin: 35px 0;
    width: auto;
}

.weather h2 {
    width: 100vw;
    left: 0;
    margin: 0;
}

.project-details {
    align-items: center;
    width: 320px;
}

.project-details h2 {
    margin-bottom: 10px;
    font-size: 34px;
    text-align: center;
}

.project-pic {
    margin-top: 30px;
}

.many-more p {
    right: 0;
}

#btn1 {
    position: relative;
    width: 65px;
    height: 23px;
    bottom: 22px;
    left: 125px;
}

#btn2 {
    position: relative;
    bottom: 23px;
    left: 130px;
    width: 65px;
    height: 23px;
}

#contact {
    justify-content: space-evenly;
    height: 40vh;
}

.all-details {
    flex-direction: column;
}

.mail {
    margin: 0;
    padding-left: 21%;
}

.social-icons {
    width: 100vw;
    justify-content: space-evenly;
    margin-top: 20px;
}

.foot {
    margin: 0;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.copyright img {
    margin: 18px 5px;
}

.designed {
    width: auto;
    text-align: center;
}

.designed p {
    right: 0;
    font-size: 20px;
}